*.o
*.bin
*.img
*.a
*.so
*.dll
*.elf

*.py
.vscode

# Ignore old code base folder
old-code/

# Workbench folder for personal testing and exploration
workbench/

# CMake ignored files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*/.cmake